
<h1 class="text-center pt-4">MIS COMPETENCIAS Y  HABILIDADES</h1>
<p class="paragraph-1">Me entusiasma el trabajo en equipo y estoy dispuesta a asumir responsabilidades. Me enorgullezco de ser capaz de utilizar mis conocimientos y la iniciativa para ofrecer experiencia de usuario de calidad a través del diseño web sensible y desarrollo front-end de calidad. Disfruto con los desafíos y busco la oportunidad de ampliar y desarrollar mis habilidades.</p>
<div id="brain">
    <img src="../../assets/img/brain.png" class="img-fluid mx-auto d-block" usemap="#brainMap">
    <div>
        <button type="button" id="btn1" placement="top" class="btn btn-rounded" ngbPopover="Dominio de los lenguajes" popoverTitle="HTML y CSS" container="body"><fa-icon [icon]="faCog" [pulse]="true"></fa-icon></button>
        <button type="button" id="btn2" placement="right" class="btn btn-rounded" ngbPopover="Conocimientos del lenguaje....???" popoverTitle="JAVASCRIPT" container="body"><fa-icon [icon]="faCog" [pulse]="true"></fa-icon></button>
        <button type="button" id="btn3" placement="top" class="btn btn-rounded" ngbPopover="Conocimiento del Frameword" popoverTitle="ANGULAR" container="body"><fa-icon [icon]="faCog" [pulse]="true"></fa-icon></button>
        <button type="button" id="btn4" placement="right" class="btn btn-rounded" ngbPopover="Experiencia en Wordpress y Prestashop" popoverTitle="CMS" container="body"><fa-icon [icon]="faCog" [pulse]="true"></fa-icon></button>
        <button type="button" id="btn5" placement="bottom" class="btn btn-rounded" ngbPopover="Conocimiento de versioneado" popoverTitle="GIT" container="body"><fa-icon [icon]="faCog" [pulse]="true"></fa-icon></button>
        <button type="button" id="btn6" placement="bottom" class="btn btn-rounded" ngbPopover="Experiencia ..." popoverTitle="BOOTSTRAP" container="body"><fa-icon [icon]="faCog" [pulse]="true"></fa-icon></button>
        <button type="button" id="btn7" placement="top" class="btn btn-rounded" ngbPopover="Experiencia ..." popoverTitle="TRABAJO EN EQUIPO" container="body"><fa-icon [icon]="faCog" [pulse]="true"></fa-icon></button>
        <button type="button" id="btn8" placement="left" class="btn btn-rounded" ngbPopover="Experiencia ..." popoverTitle="SASS" container="body"><fa-icon [icon]="faCog" [pulse]="true"></fa-icon></button>
        <button type="button" id="btn9" placement="left" class="btn btn-rounded" ngbPopover="Experiencia ..." popoverTitle="DISEÑO" container="body"><fa-icon [icon]="faCog" [pulse]="true"></fa-icon></button>
        <button type="button" id="btn10" placement="top" class="btn btn-rounded" ngbPopover="Experiencia ..." popoverTitle="SEO" container="body"><fa-icon [icon]="faCog" [pulse]="true"></fa-icon></button>
    </div> 
    
  
</div>



