@import "../../assets/scss/variables";

#brain{
    width: max-content;
    margin:auto;    
    position:relative;      
    button{
        position:absolute;       
    }
}
.btn-rounded{
    border-radius: 50%;
    background-color: $sun;
    border: 1px solid $bottle;
    transform:scale(0.8);
    &:hover, &:focus{
        animation: big-in 0.6s ease-in-out forwards;   
    }  
}
/*animacion de los botones*/
@keyframes big-in {
    0%   {
        transform:scale(0.8);
   }
    100% {
        transform:scale(1);
   }
}
/*posicion de los botones*/
#btn1{
    top: 1.8rem;
    left: 6.3rem;
}
#btn2{
    top: 14.2rem;
    left: 23rem;
}
#btn3{
    top: 2.4rem;
    left: 21.7rem;
}
#btn4{
    top: 9.2rem;
    left: 17.3rem;
}
#btn5{
    top: 12rem;
    left: 10.6rem;
}
#btn6{
    top: 15rem;
    left: 16.8rem;
}
#btn7{
    top: 4.1rem;
    left: 16.6rem;
}
#btn8{
    top: 6rem;
    left: 10.2rem;
}
#btn9{
    top: 9.5rem;
    left: 2rem;
}
#btn10{
    top: 2.4rem;
    left: 11.2rem;
}