<h1 class="text-center pt-4">CUÉNTAME LO QUE QUIERAS</h1>
  
        <div class="d-flex justify-content-center w-100">
            <form id="contactForm" (ngSubmit)="save()" autocomplete='off' [formGroup]='contactForm' class="contactForm col-10 col-md-7 pb-3">

                <div class="mb-3">
                    <label for="inputName" class="form-label">Nombre</label>
                    <input type="text" class="form-control" formControlName="inputName">
                    <span class="form-text text-danger" *ngIf="isValid('inputName')">Dime como te llamas</span>
                </div>

                <div class="mb-3">
                    <label for="inputSurname" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" formControlName="inputSurname">
                    <span class="form-text text-danger" *ngIf="isValid('inputSurname')">Dime tu apellido</span>
                </div>

                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" formControlName="inputEmail" >    
                    <span class="form-text text-danger" *ngIf="isValid('inputEmail')">Pon tu dirección de email</span> 
                </div>

                <div class="mb-3">
                    <label for="txtAreaSubject" class="form-label">Asunto</label>
                    <textarea class="form-control" formControlName="txtAreaSubject" rows="1"></textarea>
                    <span class="form-text text-danger" *ngIf="isValid('txtAreaSubject')">Dame una pista de lo que quieres contarme</span>
                </div>

                <div class="mb-3">
                    <label for="txtAreaContent" class="form-label">Mensaje</label>
                    <textarea class="form-control" formControlName="txtAreaContent" rows="3"></textarea>
                    <span class="form-text text-danger" *ngIf="isValid('txtAreaContent')">Cuéntame lo que quieras</span>
                </div>

                <p class="text-warning d-none fs-4 fw-bold" id="succesMail">El mensaje se ha enviado</p>
                <button type="submit" class="btn btn-primary float-end">Enviar</button>  

                <div id="planeSvg" class="d-none">                    
                  
                   <svg width="100%" height="100%" #fly> 
                        <path class="planePath" id="planePath" d="M 0 0 C 200 250 250 50 550 150 C 850 250 700 180 1000 200 1200 250 1350 300 1380 180" />
                        <g id="plane" class="plane">
                            <polygon class="fill1" points="-141,-10 199,0 -198,-72 -188,-61 -171,-57 -184,-57 " />
                            <polygon class="fill2" points="199,0 -141,-10 -163,63 -123,9 " />
                            <polygon class="fill3" points="-95,39 -113,32 -123,9 -163,63 -105,53 -108,45 -87,48 -90,45 -103,41 -94,41 " />
                            <path class="fill4" d="M-87 48l-21 -3 3 8 19 -4 -1 -1zm-26 -16l18 7 -2 -1 32 -7 -29 1 11 -4 -24 -1 -16 -18 10 23zm10 9l13 4 -4 -4 -9 0z" />
                            <polygon class="fill1" points="-83,28 -94,32 -65,31 -97,38 -86,49 -67,70 199,0 -123,9 -107,27 " />
                        </g>                    
                        <animateMotion xlink:href="#plane" dur="6s" rotate="auto">
                                <mpath xlink:href="#planePath" />
                         
                        </animateMotion>

                    </svg>
                    
                </div> 
                
            </form>
        </div>
     
    <!--
    <div class="row">
        <div class="col">
            <span>Valid</span>
            <pre>{{contactForm.valid}}</pre>

            <span>Pristine</span>
            <pre>{{contactForm.pristine}}</pre>

            <span>Touched</span>
            <pre>{{contactForm.touched}}</pre>

            <span>Value</span>
            <pre>{{contactForm.value | json}}</pre>
        </div>
    </div>
    -->