
<h1 class="text-center pt-4">MI TRAYECTORIA</h1>
<p class="paragraph-1">Una cosa que me ha quedado clara en los años que llevo en esta profesión, es que este mundo requiere estar siempre a la última, y eso es algo que me encanta, aunque no resulte facil. Me gusta aprender constantemente y vivir en este mundo imparable que sigue cambiando y evolucionando, como yo. Uno se convierte en el eterno estudiante y aprender de los errores me ha hecho crecer personal y profesionalmente. Es difícil definirse con pocas palabras y no dejarse nada fuera. Y es que nadie es sólo programador, comercial, diseñador…, diriamos que mi trabajo ha sido multidisciplinar.</p>

<div class="row">
     <!--FORMACIÓN
    <div class="col-6">
      <div class="row d-flex">
        
       <h2 class="text-center">FORMACIÓN</h2>
             
          <div id="list-formation" class="list-group col">
                <a class="list-group-item list-group-item-action" href="#list-item-1">FRONTEND ANGULAR</a>
                <a class="list-group-item list-group-item-action" href="#list-item-2">MÁSTER EN DISEÑO Y PROGRAMACIÓN WEB</a>
                <a class="list-group-item list-group-item-action" href="#list-item-3">T. S. DE ADMINISTRACIÓN DE SISTEMAS INFORMÁTICOS</a>
                <a class="list-group-item list-group-item-action" href="#list-item-4">FOTOGRAFÍA</a>
            </div>
            <div data-bs-spy="scroll" data-bs-target="#list-formation" data-bs-offset="0" class="scrollspy-example col" tabindex="0">
                <h4 id="list-item-1">Item 1</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolore dolores neque inventore consequatur nam modi corrupti aliquid rem voluptatibus, aperiam tenetur ut eum excepturi perferendis ratione! Provident, veniam repudiandae.</p>
                <h4 id="list-item-2">Item 2</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolore dolores neque inventore consequatur nam modi corrupti aliquid rem voluptatibus, aperiam tenetur ut eum excepturi perferendis ratione! Provident, veniam repudiandae.</p>
                <h4 id="list-item-3">Item 3</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolore dolores neque inventore consequatur nam modi corrupti aliquid rem voluptatibus, aperiam tenetur ut eum excepturi perferendis ratione! Provident, veniam repudiandae.</p>
                <h4 id="list-item-4">Item 4</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolore dolores neque inventore consequatur nam modi corrupti aliquid rem voluptatibus, aperiam tenetur ut eum excepturi perferendis ratione! Provident, veniam repudiandae.</p>
            </div>
        </div>
    </div> -->
    <!--EXPERIENCIA 
    <div class="col-6">
        <div class="row d-flex">
            
            <h2 class="text-center">EXPERIENCIA</h2>
        
              <div id="list-experience" class="list-group col">
                <a class="list-group-item list-group-item-action" href="#list-item-1">FREELANCE</a>
                <a class="list-group-item list-group-item-action" href="#list-item-2">DESARROLLO WEB ELEARNIG</a>
                <a class="list-group-item list-group-item-action" href="#list-item-3">DESARROLLO FLASH ELEARNIG</a>
                <a class="list-group-item list-group-item-action" href="#list-item-4">WEBMASTER</a>
                <a class="list-group-item list-group-item-action" href="#list-item-4">WEBMASTER</a>
            </div>
            <div data-bs-spy="scroll" data-bs-target="#list-experience" data-bs-offset="0" class="scrollspy-example col" tabindex="0">
                <h4 id="list-item-1">Item 1</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolore dolores neque inventore consequatur nam modi corrupti aliquid rem voluptatibus, aperiam tenetur ut eum excepturi perferendis ratione! Provident, veniam repudiandae.</p>
                <h4 id="list-item-2">Item 2</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolore dolores neque inventore consequatur nam modi corrupti aliquid rem voluptatibus, aperiam tenetur ut eum excepturi perferendis ratione! Provident, veniam repudiandae.</p>
                <h4 id="list-item-3">Item 3</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolore dolores neque inventore consequatur nam modi corrupti aliquid rem voluptatibus, aperiam tenetur ut eum excepturi perferendis ratione! Provident, veniam repudiandae.</p>
                <h4 id="list-item-4">Item 4</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolore dolores neque inventore consequatur nam modi corrupti aliquid rem voluptatibus, aperiam tenetur ut eum excepturi perferendis ratione! Provident, veniam repudiandae.</p>
                <h4 id="list-item-4">Item 4</h4>
                <p>...</p>
            </div>
        </div> 
    </div>-->  
</div>

