<h1 class="text-center pt-4">MIS TRABAJOS</h1>
<p class="paragraph-1">Una muestra de los trabajos realizados</p>
<div class="row d-flex justify-content-center">
    <!--menu filter-->
    
    <div class="btn-group w-50 " role="group" aria-label="Trabajos realizados" (click)="onButtonGroupClick($event)">
        <button class="btn btn-primary filter-button" data-filter="all">Todos</button>
        <button class="btn btn-primary filter-button" data-filter="wordpress">Wordpress</button>
        <button class="btn btn-primary filter-button" data-filter="prestashop">Prestashop</button>
        <button class="btn btn-primary filter-button" data-filter="angular">Angular</button>
        <button class="btn btn-primary filter-button" data-filter="maquetacion">Maquetación</button>
    </div>

    <div class="btn-group w-50 " role="group" aria-label="Trabajos realizados" (click)="onButtonGroupClick($event)">
        <button class="btn btn-primary filter-button" id = "all">Todos</button>
        <button class="btn btn-primary filter-button" id = "wordpress">Wordpress</button>
        <button class="btn btn-primary filter-button" id = "prestashop">Prestashop</button>
        <button class="btn btn-primary filter-button" id = "angular">Angular</button>
        <button class="btn btn-primary filter-button" id = "maquetacion">Maquetación</button>
    </div>

    <!--<div class="row gallery-container" *ngIf="showMainContent">-->
    <div class="row gallery-container">
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter wordpress">
            <img src="assets/img/portfolio/ekkaoreka.png" class="rounded img-fluid">
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter wordpress">
            <img src="assets/img/portfolio/urederestetika.png" class="rounded img-fluid">
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter prestashop">
            <img src="assets/img/portfolio/ekkaoreka.png" class="rounded img-fluid">
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter prestashop">
            <img src="http://fakeimg.pl/365x365/" class="rounded img-fluid">
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter angular">
            <img src="http://fakeimg.pl/365x365/" class="rounded img-fluid">
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter maquetacion">
            <img src="http://fakeimg.pl/365x365/" class="rounded img-fluid">
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter maquetacion">
            <img src="http://fakeimg.pl/365x365/" class="rounded img-fluid">
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter maquetacion">
            <img src="http://fakeimg.pl/365x365/" class="rounded img-fluid">
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter maquetacion">
            <img src="http://fakeimg.pl/365x365/" class="rounded img-fluid">
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter maquetacion">
            <img src="http://fakeimg.pl/365x365/" class="rounded img-fluid">
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter angular">
            <img src="http://fakeimg.pl/365x365/" class="rounded img-fluid">
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter angular">
            <img src="http://fakeimg.pl/365x365/" class="rounded img-fluid">
        </div>

    </div>
</div>

<!--
<div class="grid-gallery">
    <a class="grid-gallery__item" href="https://www.ekkaoreka.com" target="blank">
        <div class="content">
            <div class="content-overlay"></div> 
            <img class="grid-gallery__image" src="assets/img/portfolio/ekkaoreka.png">
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title text-info">Ekka Oreka</h3>
                <p class="content-text text-white">WORDPRESS</p>
            </div>
        </div>
    </a>
    <a class="grid-gallery__item" href="https://www.urederestetika.com">
        <div class="content">
            <div class="content-overlay"></div> 
            <img class="grid-gallery__image" src="assets/img/portfolio/urederestetika.png" target="blank">
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title text-info">Ureder</h3>
                <p class="content-text text-white">WORDPRESS</p>
            </div>
        </div>
    </a>

  </div>
  -->