<h1 class="text-center pt-4">MIS TRABAJOS</h1>
<p class="paragraph-1">Una muestra de los trabajos realizados</p>

<div class="grid-gallery">
    <a class="grid-gallery__item" href="https://www.ekkaoreka.com" target="blank">
        <div class="content">
            <div class="content-overlay"></div> 
            <img class="grid-gallery__image" src="assets/img/portfolio/ekkaoreka.png">
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title text-info">Ekka Oreka</h3>
                <p class="content-text text-white">WORDPRESS</p>
            </div>
        </div>
    </a>
    <a class="grid-gallery__item" href="https://www.urederestetika.com">
        <div class="content">
            <div class="content-overlay"></div> 
            <img class="grid-gallery__image" src="assets/img/portfolio/urederestetika.png" target="blank">
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title text-info">Ureder</h3>
                <p class="content-text text-white">WORDPRESS</p>
            </div>
        </div>
    </a>
    <a class="grid-gallery__item" href="#">
        <div class="content">
            <div class="content-overlay"></div> 
            <img class="grid-gallery__image" src="assets/img/portfolio/ekkaoreka.png">
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title text-info">Lalala</h3>
                <p class="content-text text-white">ANGULAR</p>
            </div>
        </div>
    </a>
    
    <a class="grid-gallery__item" href="#">
        <div class="content">
            <div class="content-overlay"></div> 
            <img class="grid-gallery__image" src="assets/img/portfolio/urederestetika.png">
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title text-info">Lalala</h3>
                <p class="content-text text-white">BOOTSTRAP</p>
            </div>
        </div>
    </a>
    <a class="grid-gallery__item" href="#">
        <div class="content">
            <div class="content-overlay"></div> 
            <img class="grid-gallery__image" src="assets/img/portfolio/ekkaoreka.png">
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title text-info">Lalala</h3>
                <p class="content-text text-white">JAVASCRIPT</p>
            </div>
        </div>
    </a>
    <a class="grid-gallery__item" href="#">
        <div class="content">
            <div class="content-overlay"></div> 
            <img class="grid-gallery__image" src="assets/img/portfolio/urederestetika.png">
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title text-info">Lalala</h3>
                <p class="content-text text-white">PRESTASHOP</p>
            </div>
        </div>
    </a>
    <a class="grid-gallery__item" href="#">
        <div class="content">
            <div class="content-overlay"></div> 
            <img class="grid-gallery__image" src="assets/img/portfolio/ekkaoreka.png">
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title text-info">Lalala</h3>
                <p class="content-text text-white"> LALALA</p>
            </div>
        </div>
    </a>
    <a class="grid-gallery__item" href="#">
        <div class="content">
            <div class="content-overlay"></div> 
            <img class="grid-gallery__image" src="assets/img/portfolio/urederestetika.png">
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title text-info">Lalala</h3>
                <p class="content-text text-white"> LALALA</p>
            </div>
        </div>
    </a>


  </div>