.gallery-container{
  justify-content: space-around;
}

.filter-button
{

    border-radius: 5px;
    text-align: center;

}
.filter-button:hover
{

    border-radius: 5px;
    text-align: center;



}
/*
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}*/

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
